# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# =========================
# Virtual Environment
# =========================
venv/
.env/

# =========================
# PyInstaller
# =========================
build/
dist/
*.spec

# =========================
# FFmpeg（ローカル専用）
# GitHubには含めない
# =========================
bin/

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
Thumbs.db
.DS_Store